<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Admin View</title>
    @Styles.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datePicker")

    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    @Scripts.Render("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")

    <script src="@Url.Content("~/Scripts/jquery-ui.mini.js")" type="text/javascript"></script>
    <link href="@Url.Content("/Content/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JB-Dealers Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                    <li>@Html.ActionLink("View Vehicels", "ViewVehicelsFromDB", "Admin")</li>
                    <li>@Html.ActionLink("View Service Appointments", "ViewServiceApointemnts", "Admin")</li>
                    <li>@Html.ActionLink("Viewers List", "ViewCustomersDetails", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
